html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #010000;
  color: #fff;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game__board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.game__board_item {
  background-color: gold;
  width: 10rem;
  height: 10rem;
  color: #fff;
  font-size: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game__board_item:hover {
  background-color: #ce2d2d;
  z-index: 1;
}
.game__title {
  font-size: 4rem;
  margin-bottom: 2rem;
  margin-bottom: 0;
}
.game__instruction {
  margin-bottom: 0;
}
.game__player {
  margin-top: 0;
  margin-bottom: 3rem;
}
.turn-display {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.game__reset {
  background-color: #0aa9d5;
  width: 10rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
